<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% if current_user.is_anonymous %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('register') }}">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('login') }}">Login</a>
				</li>
				{% else %}

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ current_user.username.capitalize() }}
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
					</ul>
				</li>
				{% endif %}
				{% if current_user.is_admin %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('new_product') }}">Create product</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a href="{{ url_for('view_cart') }}" class="nav-link bi bi-cart"> Cart</a>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-primary" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>

<style>
	/* CSS Reset */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		font-family: Arial, sans-serif;
	}

</style>