{% block title %} <title>Register</title> {% endblock %}
{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center m-5">Register Here!</h1>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group d-flex justify-content-center">
            <div class="col-10 col-md-4 col-sm-6 mb-3">
                <fieldset class="">
                    {{ form.username.label }}
                    {{ form.username(class='form-control', placeholder='Username') }}
                </fieldset>
            </div>
        </div>
        <div class="form-group d-flex justify-content-center">
            <div class="col-10 col-md-4 col-sm-6 mb-3">
                <fieldset class="">
                    {{ form.email.label }}
                    {{ form.email(class='form-control', placeholder='Email') }}
                </fieldset>
            </div>
        </div>
        <div class="form-group d-flex justify-content-center">
            <div class="col-10 col-md-4 col-sm-6 mb-3">
                <fieldset class="">
                    {{ form.password.label }}
                    {{ form.password(class='form-control', placeholder='Password') }}
                </fieldset>
            </div>
        </div>
        <div class="form-group d-flex justify-content-center">
            <div class="col-10 col-md-4 col-sm-6 mb-3">
                <fieldset class="">
                    {{ form.confirm_pass.label }}
                    {{ form.confirm_pass(class='form-control', placeholder='Confirm Password') }}
                </fieldset>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-10 col-md-4 col-sm-6">
                {{ form.submit(class='btn btn-outline-primary w-100') }}
            </div>
        </div>
    </form>
{% endblock %}