{% extends 'base.html' %}

{% block content %}
<h1 class="text-center m-5">To Do x.x</h1>
<div class="col-6">
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            <div class="col-12 mb-3">
                <fieldset class="w-75">
                    {{ form.name.label }}
                    {{ form.name(class='form-control', placeholder='Product name', value=name) }}
                </fieldset>
            </div>
            <div class="col-12 mb-3">
                <fieldset class="w-75">
                    {{ form.image_url.label }}
                    {{ form.image_url(class='form-control', placeholder='image_url', value=image_url) }}
                </fieldset>
            </div>
            <div class="col-12 mb-3">
                <fieldset class="w-75">
                    {{ form.price.label }}
                    {{ form.price(class='form-control', placeholder='Price', value=price) }}
                </fieldset>
            </div>
            <div class="col-12 mb-3">
                <fieldset class="w-75">
                    {{ form.category.label }}
                    <select class="form-control" name="category">
                        {% for category in form.category.choices %}
                            {% if category[0] == category_id %}
                                <option value="{{ category[0] }}" selected>{{ category[1] }}</option>
                            {% else %}
                                <option value="{{ category[0] }}">{{ category[1] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </fieldset>
            </div>
            {{ form.submit(class='btn btn-outline-primary w-75') }}
        </div>
    </form>
</div>
{% endblock %}